<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="">
        <clear />
        <add key="ApiClient.ClientId" value="us3Wl130tO6ZR4lKptA1CU8oiecXeYw6" />
        <add key="ApiClient.ClientSecret" value="jpJ15DkPNz1xVIkC" />
        <add key="ApiClient.RedirectUri" value="https://localhost:44300/Home/FinishAuth/" />
        <add key="ApiClient.AccessToken" value="7JaYNxhuoAR0uEF2A7CzpaLrvBVi" />
        <add key="ApiClient.RefreshToken" value="TwwNL3D5Mn9JPqvnunQD77GG7Q2RQn7W" />
        <add key="ApiClient.ExpirationDateTime" value="2021-03-05T10:47:02.2481978+01:00" />
    </appSettings>
</configuration>
